@import '../../styles/variables.scss';
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/_mixins.scss';

.app-artist-page {

  &__artist-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__container {
    @include make-row();
    border: solid 1px $border-color;
    background-color: white;
    margin: 0;
  }

  &__artist-info-container {
    @include make-col(3);

    display: flex;
    justify-content: center;
    padding: 20px;
    border-right: solid 1px $border-color;

    &__photo-container {
      justify-self: center;

      &__photo {
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    &__name {
      flex-grow: 1;
      font-size: 24px;
      font-weight: bold;
      padding-left: 20px;
    }

    &__stats {
      flex-grow: 1;
    }
  }

  &__artist-description-container {
    @include make-col(9);

    &__bio {
      padding: 20px;
      font-size: 12px;

      &__toggle {
        cursor: pointer;
        color: $primary-material-color;
      }
    }

    &__albums-list {
      padding: 20px;
    }
  }
}