@import '../../styles/variables.scss';
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap/scss/_mixins.scss';

.app-menu {
  display: flex;
  color: white;
  background-color: $header-light-color;
  height: 45px;
  align-items: center;

  &__title-container {
    display: flex;
    align-items: center;

    @include make-col(2);

    &__hamburger {
      cursor: pointer;
      line-height: 22px;
      margin-left: 10px;
    }

    height: 100%;
    background-color: $primary-material-color;
    align-self: center;
    cursor: pointer;

    a {
      color: white;
      text-decoration: none;
      margin-left: 10px;
    }

    &__title {
      font-size: 16px;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__search-container {
    @include make-col(8);
    height: 100%;
    align-self: center;
  }

  &__buttons {
    @include make-col(2);
    align-self: center;

    &__login-button {
      padding: 5px 10px;
      color: white;
      background-color: $primary-material-color;
      font-size: 14px;
      border-radius: 3px;
      float: right;
      transition: 300ms;
      border: none;
      cursor: pointer;
      margin-right: 20px;
      outline: none;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $dark-material-color;
        transition: 300ms;
      }
    }
  }
}