@import '../../styles/variables.scss';

.app-artists-list {
  &-item {
    border: solid 1px $light-material-color;
    box-shadow: 3px 3px 2px #888888;
    padding: 20px;
    width: 500px;
    margin: auto auto 20px;

    &-header {
      display: flex;
      align-items: center;

      &__title {
        flex: 1;
        font-size: 24px;
        font-weight: bold;
        padding-left: 20px;
      }

      &__image {
        margin: 5px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        width: 150px;
      }

      &__listeners-count {
        display: block;
      }
    }

    &__description {
      margin-top: 10px;
      margin-left: 10px;
      flex: 1;
    }
  }
}