@import '../../styles/variables';

.app-sidebar {
  background-color: $main-background-color;
  height: calc(100vh - 45px);
  width: 100%;
  border-right: solid 1px $border-color;
  padding: 10px;
  font-size: 14px;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: black;
    }
  }

  &__link {

  }

  &__item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &__icon {
      margin-right: 10px;
      color: $primary-material-color;
    }

    &__text {
    }
  }
}
